@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$green:#3F8C7B;
$darkgreen:#2A5655;
// $darkgreen:#3F8C7B;
$lightgreen:#C0D8C5;
$lightgrey:#F5F3F1;

body{
    background:$lightgrey;
    // font-family: 'Unna', serif;
}

section{
    padding-top: 80px;
    padding-bottom:80px;
}
.container-fluid{
    padding-left:0;
    padding-right: 0;
}

.bg-nav{
    background-color:$lightgrey;
    box-shadow: -1px 17px 31px -23px rgba(0,0,0,0.75);
}
.navbar-dark{
.navbar-brand{
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size:25px;
    color:$green;
}
.navbar-brand:hover{color:$green;}
.navbar-nav .nav-link {
    color:$green;
    font-size: 18px;
}
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:$darkgreen;
}

.navbar-toggler {
    background-color: $green;
}

.topbar{
    display: block;
    position: relative;
    width: 100%;
    .bg-nav{
        background-color: $green;
        padding-bottom: 0;
        padding-top: 0;
    }
    .navbar-dark{
        .navbar-nav{
            display: inline-block;
            .nav-item{
                display: inline-block;
            }
        }
    .navbar-nav .nav-link {
        color:$lightgrey;
        font-size: 16px;
        display: inline-block;
    }
    }
}

.top-banner{
    background-image:url('/img/new-bg-img-2021.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-color:#bbbbbb;
    background-blend-mode: multiply;

    background-position: center;
    width: 100%;

    .text-area{
        margin:auto;
        display: block;
        position: relative;
        padding-top:15%;

    h1{
        text-align: center;
        color:#ffffff;
        font-weight: 700;
        font-size: 45px;
    }
}
}


.license{
    background:$darkgreen;
    border-radius: 5px;
    padding:5px;
    margin-top: 10px;
    text-align: center;
}
.general-btn{
    border:1px solid $lightgrey;
    border-radius:10px;
    padding:10px 15px;
    background-color:$darkgreen;
    color:#ffffff;
    color:$lightgrey;
    position: relative;
    margin:auto;
    margin-top: 30px;
    display: block;
    width: 200px;
    text-align: center;
}

.general-btn:hover{
    background-color:$darkgreen;
    color:#ffffff;
    transition: 0.5s;
}

a:hover{
    text-decoration: none;
    color:inherit;
}

h2{
    font-weight:700;
    color: $darkgreen;
    font-style: italic;
}

.agency{
    border:1px solid $lightgreen;
    width: 100%;
    border-radius:10px;
    padding-top: 0px;

    .col{
        padding:0;
    }
    .info-pad{
        background:$green;
        color:$lightgrey;
        padding: 15px;
        height:100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        h3{
            font-weight: 700;
            text-align: center;
        }

        a{
            color:$lightgrey;
            padding: 10px;
            text-align: center;
            font-size: 20px;
        }
        .icon{
            padding-right: 3px;
        }
    }
}


.this-footer{
    background-color: #2A5655;
    padding: 15px;
}

.green-btn{
    background-color: $darkgreen;
    border:1px solid $darkgreen;
    color:$lightgrey;
    padding: 10px;
    text-align: center;
    width: 150px;
    display: block;
    border-radius: 5px;
}

.green-btn:hover{
    color:$lightgrey;
}


#faq{
    background-color:$green;
    h2{
        color:#ffffff;
    }
    h3{
        color:$lightgrey;
        font-size: 20px;
        font-weight: 700;
    }

    p{
        color:$lightgrey;
        margin-bottom:35px;
    }
}

.main-form{
    border-top: 5px solid $darkgreen;
    background:#ffffff;
    padding: 25px 30px;
    box-shadow: -1px 17px 31px -23px rgba(0,0,0,0.75);

    .sub-btn{
        background:$darkgreen;
        border:1px solid $darkgreen;
        font-weight: 700;
        width: 100%;
    }

    .note{
        width: 100%;
        background:$darkgreen;
        padding: 10px 15px; 
        color:#ffffff;
        display: block;
        position: relative;
        margin-bottom:30px;
        border-radius: 5px;
        text-align: center;
    }
}

.form-sec{
    background-image:url('/img/flower-bw copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    // background-color:rgb(139, 139, 139);
    background-color:#2A5655;
    background-attachment: fixed;

    h2{
        color:$lightgrey;
    }

    p{
        color: $lightgrey;
    }

    .company-img{
        border-radius: 5px;
    }
  }

.service-img{
    background-repeat: no-repeat;
    width: 100%;
    background-color: #5f5f5f;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    height: 200px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    transition: background-color 0.3s;

    h3{
        padding-top: 25%;
        color:#ffffff;
    }
}


.service-img:hover{
    background-color: #ffffff;
    transition: background-color 0.3s;

    h3{
        opacity: 0;
    }
}


#servicearea{
    h3{
        color:$darkgreen;
        font-weight: 700;
        font-size: 18px;
    }

    a{
        color:#000000;
    }

    .direction-btn{
        background:$lightgreen;
        padding:5px 10px;
        color:$darkgreen;
        text-align: center;
        width: 100%;
        display: block;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: 0.5s;
    }
    .direction-btn:hover{
        background:$green;
        color:$lightgrey;
        cursor: pointer;
        transition: 0.5s;
    }
}

.wechat-btn{
    background:$green;
    padding:5px 10px;
    color:$lightgrey;
    text-align: center;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin: 0px;
    border:none;
    cursor: pointer;
    transition: 0.5s;
}
.wechat-btn:hover, .wechat-btn:active{
    background:$green;
    color:$lightgrey;
    cursor: pointer;
    transition: 0.5s;
}


.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: $green;
    border-color: none;
}

.wechat-qrcode{
    width: 100px;
    margin-top: 0px;
}


@media screen and (max-width:768px){
    .top-banner{
        height: 40vh;

        .text-area{
            padding-top: 55%;
            h1{
                font-size: 25px;
            }
        }
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .agency{
        margin:auto;
        margin-bottom:15px;
        .info-pad{
             h3 {
        font-size: 18px;
    }

    a{
        font-size: 16px;
    }
}
}
.wechat-qrcode{
    width: 90px;
}
}

@media screen and (max-width:540px){
    .top-banner{
        height: 60vh;

        .text-area{
            padding-top: 55%;
            h1{
                font-size: 25px;
            }
        }
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .agency{
        margin:auto;
        margin-bottom:15px;
        .info-pad{
             h3 {
        font-size: 16px;
    }

    a{
        font-size: 15px;
        padding:5px;
    }

    p{
        margin-bottom:0;
    }
}
}
.wechat-qrcode{
    width: 70px;
}
.license{
    font-size: 13px;
}
}
.topbar-inner {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .topbar-info-wrap img {
    width: 20px;
  }
  .topbar-info-wrap a,
  span {
    color: #fff;
  }
  .topbar-info-wrap > span {
    margin-right: 15px;
  }
  @media all and (max-width:1000px){
      .topbar-inner{
          flex-direction: row !important;
      }
  }
  